* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 15px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.spanStatus {
  background-color: rgb(255, 123, 0);
  padding: 5px;
  font-size: 1rem;
  font-weight: 100;
  color: white;
}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}
header {
  background-color: aquamarine;
}

.in_progress {
  background-color: aquamarine;
}

.backlog {
  background-color: bisque;
}

.completed {
  background-color: green;
}
